.fifth
  .fifth__category-head
    ピックアップカテゴリー
  .fifth__category-title
    新規投稿商品
  .fifth__category-box
    .fifth__category-box__list
      .fifth__category-box__list__img

      .fifth__category-box__list__body
        .fifth__categiry-box__list__body__name
          product3
        .fifth__category-box__list__body__detail
          30000円
          （税込）
    .fifth__category-box__list
      .fifth__category-box__list__img

      .fifth__category-box__list__body
        .fifth__categiry-box__list__body__name
          product2
        .fifth__category-box__list__body__detail
          20000円
          （税込）     
    .fifth__category-box__list
      .fifth__category-box__list__img

      .fifth__category-box__list__body
        .fifth__categiry-box__list__body__name
          product1
        .fifth__category-box__list__body__detail
          10000円
          （税込）

.fifth-brand
  .fifth-brand__head
    ピックアップブランド
  .fifth-brand__title
    アーカイブ
  .fifth-brand__box
    .fifth-brand__box__list
      .fifth-brand__box__list__img
      .fifth-brand__box__list__body
        .fifth-brand__box__list__body__name
          product3
        .fifth-brand__box__list_body_detail
          30000円
          （税込）  
    .fifth-brand__box__list
      .fifth-brand__box__list__img
      .fifth-brand__box__list__body
        .fifth-brand__box__list__body__name
          product2
        .fifth-brand__box__list_body_detail
          20000円
          （税込） 
    .fifth-brand__box__list
      .fifth-brand__box__list__img
      .fifth-brand__box__list__body
        .fifth-brand__box__list__body__name
          product1
        .fifth-brand__box__list_body_detail
          10000円
          （税込） 