.first
  .first__title 人生を変えるフリマアプリ
  .first__message
    .first__message__up FURIMAはだれでもかんたんに出品・購入できる
    .first__message__row フリマアプリです
  .first__box
    = link_to image_tag(src= "top/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: ".first__box__left"),"#"
    = link_to image_tag(src= "top/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: ".first__box__right"),"#"
