.fourth
  .fourth__top
    FURIMAの特徴
  .fourth__main
    .fourth__main__item
      .fourth__main__item__img
        = image_tag src="second/icon-01-7furima.svg", size:"161x249"
      .fourth__main__item__subtitle
        簡単に売り買いできる
      .fourth__main__item__detail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .fourth__main__item
      .fourth__main__item__img
        = image_tag src="second/icon-03-9furima.svg", size:"161x249"
      .fourth__main__item__subtitle
        売上金は即日振り込みに対応
      .fourth__main__item__detail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    .fourth__main__item
      .fourth__main__item__img
        = image_tag src="second/icon-04-cfurima.svg", size:"161x249"
      .fourth__main__item__subtitle
        様々な支払いに対応
      .fourth__main__item__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。