.second
  .second__title FURIMAが選ばれる3つの理由
  .second__box
    .second__box__left
      = image_tag "top/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg",width:"100%", alt:"image1", class:".second__box__left__image"
      .second__box__left__image__number 1
      .second__box__left__text
        %span>3分  
        &nbsp;ですぐに出品
      .second__box__left__about スマホで入力するだけで簡単に出品できる！
    .second__box__center
      = image_tag "top/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg",width:"100%", alt:"image1", class:".second__box__center__image"
      .second__box__center__image__number 2
      .second__box__center__text
        %span>シンプル
        &nbsp;で使いやすい
      .second__box__center__about めんどくさい入力は必要なく、検索も購入もスムーズ！
    .second__box__right
      = image_tag "top/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg",width:"100%", alt:"image1", class:".second__box__right__image"
      .second__box__right__image__number 3
      .second__box__right__text
        %span>手数料
        &nbsp;業界最安
      .second__box__right__about 最大3%でお得に出品&購入！

  