.third
  .third__title 会員数日本一位
  .third__message
    .third__message__up FURIMAは、フリマアプリで最も人気。
    .third__message__middle 出品・購入回数も業界最多です！
    .third__message__row ほしかったあの商品に出会えるかもしれません。
  .third__box
    = link_to image_tag(src= "top/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: ".first__box__left"),"#"
    = link_to image_tag(src= "top/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: ".first__box__right"),"#"
