.mypagebox__leftcolumn
  .mypagebox__leftcolumn--mypage
    = link_to "マイページ", users_show_path
  .mypagebox__leftcolumn--cardreg
    = link_to "カード登録/変更", card_new_path
  .mypagebox__leftcolumn--logout
    = link_to "ログアウト", 'logout'