.mypagebox
  = render "mypageSidebar"

  .mypagebox__rightbox
    .mypagebox__rightbox--namebox 
      .mypagebox__rightbox--name
        = current_user.first_name + " 様"
    .mypagebox__rightbox--center
      .mypagebox__rightbox--notification お知らせ
      .mypagebox__rightbox--Todo やることリスト
    .mypagebox__rightbox--message 
    .mypagebox__rightbox--index 一覧を見る