%section.buyMain
  .buyMain__content
    .topContent
      %ul.productInfo
        %li.productImg
          = image_tag 'top/birdCute.jpeg', alt: 'BirdCute', class: 'itemBox__image__main1'
          %ul.productInfo__detail
            %li.productInfo__detail__name カレーライス
            %li.productInfo__detail__price 3000円
            %li.productInfo__detail__sendCost
              %span
                %i.fas.fa-truck-moving
                送料込み｜出品者負担
      .payInfo
        .row 支払い方法
        -# 競合起きるか実験
        .table
          %table
            %tr
              %th フリマポイント
              %td 
                10ポイント
                %br
                保有ポイント：50
            %tr
              %th 支払い方法
              %td クレジットカード
        .paymentInfo
          .row2
            .col1 商品金額
            .col1_right ¥1,000
          .row3
            .col2 決済手数料
            .col2_right 0円
          .row4
            .col3 支払金額
            .col3_right ¥1,000
      .sendingInfo
        .col4 配送先住所
        %ul.col5
          %li.addressPostalCode 〒 111-2222
          %li.address 埼玉県の真ん中らへん
          %li.addressName 加藤 陽 様
        .row  配送先情報
        %ul.col6
          %li.sendingInfoDetail 普通郵便
          %li.sendingCost
            %span
              %i.fas.fa-truck-moving
              送料込み｜出品者負担
          %li.sendingDay 発送までの目安：支払い確定後 2 ~ 3日後
      .formInfo
        %form#buy_product.buy_product{"accept-charaset" => "UTF-8", action: "#", method: "post"}
          %button.decisionBtn{name: 'button', type: 'submit'}
            注文確定

