.footer{
  height: 250px;
  padding: 60px 0;
  background-color: #272727;
  &__contents{
    height: 180px;
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    ul{
      list-style: none;
      padding: 0 10px;
    }
    li{
      height: 32px;
      font-size: 12px;
      margin: 1px;
    }
    a{
      line-height: 32px;
      height: 15px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      -webkit-text-decoration-skip: none;
    }
    a:hover {
      text-decoration: underline;
      padding-bottom:2px;
    }
    &__left{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
    }
    &__center{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
    }
    &__right{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
    }
  }
  &__logo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__copyright{
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
}