.main-contents {
  width: 100%;
  height: 100%;
  background-color: #3CCACE;
  box-sizing: border-box;
  &__header{
    height: 120px;
    width: 100%;
  }

  
  &__form {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius:4px 4px 4px 4px;
    &__top {
      height: 120px;
      width: 100%;
    
      h3 {
        font-size: 30px;
        text-align: center;
        line-height: 120px;
        font-size: 22px;
        font-weight: bolder;
      }
    }
      #error_explanation {
        
        color: red;
        h2 {
          font-weight: bolder;
          font-size: 15px;
          margin-left: 10px;
          margin-right: 10px;
          padding: 0.5em 0.5em 0.5em 2em;
        }
        ul {
          margin-left: 10px;
          margin-right: 10px;
          padding: 0.5em 0.5em 0.5em 2em;
        }
        li {
          line-height: 1.5;
          padding: 0.5em 0;
          font-size: 13px;
        }
      }

        
      
    &__main {
      background-color: #fff;
      h1 {
        
        font-size: 14px;
      }
      h2 {

        font-size: 20px;
        font-weight: bolder;
        text-align: center;
      }
      p {
        font-size: 8px;
      }
      
      &__inner {
        max-width: 342px;
        margin: 0 auto;
        padding-bottom: 50px;
        .password {
          text-decoration: none;
          font-size: 12px;
          color: #979797;
        }
        label {
          font-size: 12px;
        }
        &__btn-box {
          display: inline;
          padding: 32px 64px;
          &__mail{
            display: block;
            position: relative;
            line-height: 34px;
            width: 315px;
            text-align: center;
            margin-top: 10px;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #fff;
            background: #fd5335;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
            font-weight: bold;
            border: solid 2px #fd5335;
          }
          &__mail:active {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
          }
          &__facebook {
            display: block;
            position: relative;
            line-height: 34px;
            width: 315px;
            text-align: center;
            margin-top: 10px;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #fff;
            background: #385185;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
            font-weight: bold;
            border: solid 2px #385185;
          }
          &__facebook:active {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
          }
          &__google {
            display: block;
            position: relative;
            line-height: 34px;
            width: 315px;
            text-align: center;
            margin-top: 10px;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #333;
            background: #e2e1e1;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
            font-weight: bold;
            border: solid 2px #979797;
          }
          &__google:active {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
          }
      }
        &__actions {
          height: 100px;
          position: relative;
          
          input[type =submit] {
            position: absolute;
            bottom: 30px;
            width: 334px;
            border-radius:4px 4px 4px 4px;
            background-color:#fd5335;
            color: #fff;
            padding: 10px 140px;
          }
        }
        
        &__field {
          margin: 0 auto;
          label {
            font-weight: 600;
            font-size: 16px;
          }
          span {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            height: 20px;
            background-color: #fd5335;
          }
          input {
            width: 300px;
            margin: 8px 0 0;
            height: 38px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__group {
          margin: 0 auto;
          &__top {
            display: flex;
            
            label {
              font-weight: 600;
              
            }
            span {
              margin: 2px 0 0 8px;
              height: 14px;
              line-height: 14px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              background-color: #fd5335;
            }
          }
          &__box {
            display: flex;
            
            &__half-field {
              input {
                width: 134px;
                margin: 8px 0 0;
                height: 28px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
            }
          }
          &__birthday {
            display: flex;
            span {
              margin-right: 10px;
              line-height: 60px;
            }
            &__select-wrap {
              height: 60px;
              width: 100px;
              &__default {
                height: 60px;
                width: 100px;
                margin-right: 20px;
              }
            }
          }
        }
      } 
    }
  }
  &__fotter {
    height: 100px;
    width: 100vw;
  }
}