.fourth{
  padding: 60px 100px;
  background-color: #ffffff;
  height: 560px;
  box-sizing: border-box;
  .fourth__top{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .fourth__main{
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    &__item{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
      &__img{
        width: 70%;
        height: 225px;
        margin: 0 auto;
        line-height: 120px;
      }
      &__subtitle{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &__detail{
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        margin: 0 10px;
        text-align: left;
      }
    }   
  } 
}

.fifth{
  height: 426px;
  background-color: #f8f8f8;
  padding: 80px 0 0;
  &__category-head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__category-title{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #3ccace;
    font-weight: bold;
  }
  &__category-box{
    height: 245px;
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    &__list{
      width: 220px;
      height: 245px;
      display: inline-block;
      a{
        text-decoration: none;
      }
      &__img{
        width: 220px;
        height: 166px;
        position: relative;
        margin: 0;
        z-index: auto;
        background-size: cover;
        &__sold{
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index:100;
          position: relative;
          &__inner{
            transform: rotate(-45deg);
            font-size: 25px;
            margin:-30px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
      &__body{
        background-color: white;
        color: #333;
        padding: 16px;
        &__name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        &__detail{
          font-size: 16px;
          &__tax{
            font-size: 10px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

.fifth-brand{
  height: 426px;
  background-color: #f8f8f8;
  padding: 80px 0 0;
  &__head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__title{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #3ccace;
    font-weight: bold;
  }
  &__box{
    height: 245px;
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    &__list{
      background-color: lightcyan;
      width: 220px;
      height: 245px;
      display: inline-block;
      &__img{
        width: 220px;
        height: 150px;
        position: relative;
        margin: 0;
        z-index: auto;
      }
      &__body{
        background-color: white;
        color: #333;
        padding: 16px;
        &__name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        &__detail{
          font-size: 16px;
        }
      }
    }
  }
}
.sixth{
  height: 250px;
  width: 100%;
  background-size: cover;
  background-image: image-url("second/bg-appBanner-pict.jpg");
  padding:60px 0px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__body{
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__left{
        margin-right: 30px;
        width: 180px;
        height: auto;
      }
      &__right{
        width: 180px;
        height: auto;
      }
      img:hover {
        opacity: 0.5 ;
      }
    }
  }
}