.mypagebox {
  width: 100vw;
  height: 100vh;
  background-color:white;
  display: flex;

.creditbox {
  height: 630px;
  width: 700px;
  text-align: center;
  margin-top: 50px;
  label {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }
  .require {
    color: red;
  }
  .number {
    width: 200px;
  }
  ul{
    margin-top: 5px;
    margin-left: 200px;
    font-size: 0;
    display:flex;
    li{
      margin: 0 0 0 8px;
    }
  }
  #token_submit {
    width: 300px;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: red;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    cursor: pointer;
  }
}

.form__content {
  margin-left: 200px;
  width: 300px;
  height: 150px;
  margin-top: 50px;
  border-style: ridge;
  text-align: center;
  .form__title {
    padding-top: 5px;
  }
  .delete-btn {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 30px;
    margin-top: 5px
  }
}