.mypagebox {
  width: 100vw;
  height: calc(100vh - 150px);
  background-color:white;
  display: flex;


  .creditbox {
    text-align: center;
    margin-left: 80px;
    #charge-form {
      width: 600px;
      height: 250px;
      background-color: white;
      margin: 0 auto;
      align-items: center;
      margin-top: 50px;
      border: ridge;
      padding-top: 30px;
      .number {
        border: ridge;
        margin-bottom: 20px;
      }
    }
    .cvc {
      margin-top: 20px;
    }
    #token_submit{
    font-size: x-large;
    background: red;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    padding: 5px 20px;
    }
  }
}